.footer {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.footer__header {
    color: rgb(3, 3, 3);
    text-align: center;
}

.footer__link {
    color: rgb(13, 181, 233);
    margin: auto;
}


.footer__link:visited {
    color: darkblue;
}

.footer__link:focus {
    outline: 2px solid currentColor;
}

.footer__link:hover {
    color: rgb(91, 91, 128);
    border-bottom: 1px solid;
    border-radius: 10px;
    outline: none;
}

.footer__link:active {
    color: rgb(230, 120, 17);
}