.navigation {
    background-color: beige;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.navigation__list {
    outline-width: 5px;
    list-style: none;
    padding:  5px;
}

.navigation__item {
    margin: 5px 0;
    outline-width: 5px;
    font-family: "Lato", sans-serif;
    background-color: #85c6e9;
    outline-style: solid;
    padding: 5px;
}

.navigation__link {
    margin: auto;
    text-decoration: none;
    color: rgb(91, 91, 128);
}

.navigation__link {
    color: rgb(91, 91, 128);
    margin: auto;
    text-decoration: none;
}

