html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    background-color: white;
    font-family: "Lato", sans-serif;
    padding: 0 20px;
    margin: auto;
}

.js__greyBackground {
    background-color: gray;
}