html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    background-color: white;
    font-family: "Lato", sans-serif;
    padding: 0 20px;
    margin: auto;
}

.navigation {
    background-color: beige;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.navigation__list {
    outline-width: 5px;
    list-style: none;
    padding:  5px;
}

.navigation__item {
    margin: 5px 0;
    outline-width: 5px;
    font-family: "Lato", sans-serif;
    background-color: #85c6e9;
    outline-style: solid;
    padding: 5px;
}

.navigation__link {
    margin: auto;
    text-decoration: none;
    color: rgb(91, 91, 128);
}

.navigation__link {
    color: rgb(91, 91, 128);
    margin: auto;
    text-decoration: none;
}

.header {
    color: #26272e;
    text-align: center;
}

.header__mainHeader {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.header__image {
    max-width: 250px;
}

.section {
    background-color:beige;
    border-radius: 10px;
    padding: 5px;
}

.section__header {
    text-shadow: 1px 1px 6px #4db4e4;
    background-color: rgb(139, 207, 228);
    border-style: solid;
    border-color: rgb(226, 190, 112);
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px;
}

.section__list {
    margin: auto;
    padding-left: 20px;
    outline-width: 5px;
}

.section__list--marker {
    list-style-type: square;
}

.container {
    overflow-x: auto;
    background-color:rgb(112, 197, 223);;
}

.container__table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

.container__caption {
    text-align: center;
    margin-top: 20px;
}

.container__tableRow:nth-child(even) {
    background: #ddd;
}

.container__tableRow:hover {
    background: #eee;
}

.container__tableCell {
    border: 1px solid rgb(10, 10, 10);
    font-family: "Lato", sans-serif;
    padding: 20px;
    text-align: center;
    vertical-align: top;
}

.container__tableCell--tableHeader {
    background-color: rgb(139, 207, 228);;
    color: rgb(3, 3, 3);
    font-size: 10px;
}

.paragraph {
    color: rgb(83, 83, 105);
    margin: 10px 5px;
    padding: 5px;
}

.footer {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.footer__header {
    color: rgb(3, 3, 3);
    text-align: center;
}

.footer__link {
    color: rgb(13, 181, 233);
    margin: auto;
}


.footer__link:visited {
    color: darkblue;
}

.footer__link:focus {
    outline: 2px solid currentColor;
}

.footer__link:hover {
    color: rgb(91, 91, 128);
    border-bottom: 1px solid;
    border-radius: 10px;
    outline: none;
}

.footer__link:active {
    color: rgb(230, 120, 17);
}

.js__greyBackground {
    background-color: gray;
}